@import url('https://fonts.googleapis.com/css?family=Fredericka+the+Great&display=swap');
@import url('https://fonts.googleapis.com/css?family=Reem+Kufi&display=swap');
@import url('https://fonts.googleapis.com/css?family=Arvo&display=swap');

body {
overflow-x: hidden;
overflow-y:hidden;
font-family: 'Arvo', serif;
color: #000000;
background-image: url(images/background1.png);
}


/*----navbar----*/

.navbar{
  background: rgba(0, 0, 0, 0.5);
  text-transform: uppercase;
}

.navbar-brand img{
  height: 7vh;
  min-height: 2.5rem;
  top: 5vh;
}

.heading{
  text-transform: none;
  position: relative;
  display:flex;
  align: center;
  justify-content: center;
  margin-top: .6rem;
}

.heading h3{
  font-size: 150% 
}

.heading a:hover, a:visited, a:active, a:link{
text-decoration: none;
color: white;
}


.navbar-nav li{
  padding-right: .7rem;
}

.navbar-dark .navbar-nav .nav-link{
  color: white;
  padding-top: .8rem;
}
.navbar-dark .navbar-nav .nav-link.active,
.navbar-dark .navbar-nav .nav-link:hover{
  color: #5fccff;
}

/*----navbar----*/

.video-background{
  position: relative;
  width: 100%;
  min-height: 100vh;
  background-color: rgba(0,0,0,.5)!important;
  
}

.caption{
position: absolute;
top: 50%;
width: 100%;
color: white;
}

.caption h1{
  font-size: 3rem;
  text-shadow: .1rem .1rem .8rem black;
  letter-spacing: .2rem;
  padding-bottom: 1rem;
}

.btn-lg {
  border-width: medium;
  border-radius: 0;
  font-size: 1.1rem;
}

.social{
  position: absolute;
  display: inline-block;
  white-space: nowrap;
  bottom: 5vh;
  width: 100%;
}

.social-icons{
  float: right;
  margin-right: 3%;
}

.social img{
  display: inline;
  height: 4vh;
  min-height: 1.7rem;
  padding-left: 3vh;
}


@media (max-width: 768 px){
  .caption h1{
    font-size: 1.4rem;
    letter-spacing: .15rem;
    padding-bottom: .5rem;
  } 


}




/*============ BOOTSTRAP BREAK POINTS:

Extra small (xs) devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap

Small (sm) devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

Medium (md) devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

Large (lg) devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

Extra (xl) large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }

=============*/