@import url('https://fonts.googleapis.com/css?family=Russo+One&display=swap');

body {
overflow-x: hidden;
font-family: 'Russo One', sans-serif;
color: #ffffff;
background-image: url(Images/background1.png);
}


/*----navbar----*/

.navbar{
  background: rgba(0,0,0,.9);
  text-transform: uppercase;
}

.navbar-brand img{
  height: 3rem;
}

.navbar-nav li{
  padding-right: .7rem;
}

.navbar-dark .navbar-nav .nav-link{
  color: white;
  padding-top: .8rem;
}
.navbar-dark .navbar-nav .nav-link.active,
.navbar-dark .navbar-nav .nav-link:hover{
  color: #5fccff;
}

/*----navbar----*/

.video-background{
  position: relative;
  width: 100%;
  min-height: 100vh;
  background-color: rgba(0,0,0,.5)!important;
}

.caption{
position: absolute;
top: 38%;
width: 100%;
color: white;
}

.caption h1{
  font-size: 3rem;
  text-shadow: .1rem .1rem .8rem black;
  letter-spacing: .2rem;
  padding-bottom: 1rem;
}

.btn-lg {
  border-width: medium;
  border-radius: 0;
  font-size: 1.1rem;

}


#about img{
width:50vh;

}



@media (max-width: 768 px){
  .caption h1{
    font-size: 1.4rem;
    letter-spacing: .15rem;
    padding-bottom: .5rem;
  }
  




}




/*============ BOOTSTRAP BREAK POINTS:

Extra small (xs) devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap

Small (sm) devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

Medium (md) devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

Large (lg) devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

Extra (xl) large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }

=============*/